@import "1-tools/-tools-index";




.main-info{

  p{
    font-family: Aller;
  }
  h1{
    padding-top: 25px;
    font-family: ChunkFive;
  }

  @include pad();
}

.partner-wrapper{
  margin-top:3em;
  margin-bottom: 3em;
  @include outer-container();

  .partner{
    padding-top: 2.5em;
    @include span-columns(2.9);
    @include row();
    text-align:center;

    @include media($tablet){
      @include span-columns(3.9);
    }

    @include media($mobile){
      @include fill_parent;
    }

    img{
      height:115px;
      width: 250px;

      @include media($tablet){
        height: 100px;
        width: 170px;
      }
    }
  }
}

.partnerh1{
  color: #222222;
  font-family: Aller;
  text-align:center;
  padding-top: 1em;
}
