@import "1-tools/-tools-index";

.partner-wrapper{
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  @include outer-container(90%);


  h1{
    color: #444444;
    font-family: Aller;
    text-align:center;
    margin-bottom: 1.5em;
  }

  .partner{

    @include span-columns(3);
    @include row();
    text-align:center;

    @include media($tablet){
      @include span-columns(3.9);

    }


    img{
      height:115px;
      width: 250px;
      @include media($tablet){

        height: 100px;
        width: 170px;
      }
    }


  }
}


.footer{
  text-align:center;
  .jobtracker{
    a{
    color: #444444;

    &:visited{
    color: #444444;
    }

    &:hover{
    color: #444444;
    }
  }
  }
}
