@import "1-tools/-tools-index";





.countertops-page{
  @include outer-container();



  #slider {
    // width: 400px;
    // height: 600px;
    @include fill_parent();
    max-width: 400px;
    max-height: 600px;
    overflow:hidden;
    margin: 30px auto;
  }

  #slider > img {
    // width: 400px;
    // height:600px;
    @include fill_parent();
    max-width: 400px;
    max-height: 600px;
    float:left;
    display:none;
  }

  a{
    padding: 5px 10px;
    background-color:white;
    color: #4c0000;
    margin-top: 30px;
    font-family: ChunkFive;
    text-decoration:none;

  }

  .wrapper{
    width:600px;
    margin: 0px auto;


  }

  a.left {

    float: left;
    padding-left: 5%;
  }

  a.right {
    float: right;
    padding-right: 5%;
  }

}


.secondary-links{
  .link{

    text-align:center;
    @include span-columns(6);
    a{
       background-color:white;
      font-family: ChunkFive;
      font-size: 2em;
      color: #4c0000;

      &:hover{
        text-decoration: none;
      }
    }
  }
  padding-bottom: 7.5%;
  margin-bottom: 5%;
}

.solid-surface-secondary-links{
  .link{

    text-align:center;
    // divide the amount of links there are by 12 and use that as your span-columns(there is 1 currently)
    @include span-columns(12);
    a{
       background-color:white;
      font-family: ChunkFive;
      font-size: 2em;
      color: #4c0000;

      &:hover{
        text-decoration: none;
      }
    }
  }
  padding-bottom: 7.5%;
  margin-bottom: 5%;
}


/* Edge Profiles Page Start */


.edge_profiles{
  height: 1300px;
  padding-top: 5%;
  padding-bottom: 2%;

  h1{
    padding-bottom: 5%;
  }


  div{
    @include span-columns(4);


    @include media($tablet){
      @include fill_parent();
    }


    h1{
      font-size: 1.5em;
    }

    p{
      text-align:left;
      font-size: 1.2em;
      margin-left: 5%;
    }


    img{
      display: inline-block;
      @include pad();
      margin-left: 5%;
      height: 150px;
      width: 150px;
      opacity: 0.7;

      &:hover{
        opacity: 1;
      }


    }
  }
}






/* Edge Profiles Page End */


/* Stock Colors */

.stock-colors-page{
  @include fill_parent();

  padding-top: 5%;
  ul{
    @include pad();
  display: inline;
  font-size: 2.5em;
  font-family: ChunkFive;

  @include media($tablet){
    font-size: 1.5em;
  }

    a{
      text-decoration: none;
      color: #4c0000;
    }
  }
}

/* Solid Surface Page */


.solid-surface-wrapper{
  height:500px;
  background: url(/assets/images/solid-surface/solid-surface-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include media($tablet){
    height: 300px;
  }

}
.solid-surface-info{


    @include media($tablet){
      *{
        font-size: .8em !important;

      }

    }

    h1{
      padding-top: 5%;
      font-size: 2em;
    }

    *{
      @include pad();
      font-size: 1.3em;
      color: #232323;

    }

    margin-bottom: 5%;

}

.solid-surface-button{
  color: red;

  text-align: center;
}
