@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';


@include font-face(Aller, '../assets/fonts/Aller_Rg');
@include font-face(Chunkfive, '/assets/fonts/ChunkFive/chunkfive');
@include font-face(Aller, '../assets/fonts/Aller_Rg');

$column: 75px;
$gutter: 15px;
$grid-columns: 12;
$max-width: em(1088);


$mobile: new-breakpoint(max-width 520px 4);
$tablet: new-breakpoint(max-width 720px 8);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 35%);

ul{
  margin: 0;
}

footer{
  display:block;

  text-align:center;
}

body{
  width:100%;


}

button{
  height: 50px;
  width: 100px;
}


h1{
  font-family: ChunkFive;
  color: $grey-color-dark;
}

p{
  color: $grey-color-dark;
  font-family: Aller;
}
