
<script>$(document).ready(function() {
  $('#js-centered-navigation-menu').removeClass("show");

  $('#js-centered-navigation-mobile-menu').on('click', function(e) {
    e.preventDefault();
    $('#js-centered-navigation-menu').slideToggle(function(){
      if($('#js-centered-navigation-menu').is(':hidden')) {
        $('#js-centered-navigation-menu').removeAttr('style');
      }
    });
  });
});
</script>

<header class="centered-navigation">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
    </a>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">

      <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
      <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>

      <li class="nav-link"><a href="javascript:void(0)">Testimonials</a></li>
      <li class="nav-link more"><a href="javascript:void(0)">More</a>
        <ul class="submenu">
          <li><a href="javascript:void(0)">Submenu Item</a></li>
          <li><a href="javascript:void(0)">Another Item</a></li>
          <li class="more"><a href="javascript:void(0)">Item with submenu</a>
            <ul class="submenu">
              <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
              <li><a href="javascript:void(0)">Another Item</a></li>
            </ul>
          </li>
          <li class="more"><a href="javascript:void(0)">Another submenu</a>
            <ul class="submenu">
              <li><a href="javascript:void(0)">Sub-submenu</a></li>
              <li><a href="javascript:void(0)">An Item</a></li>
            </ul>

          </li>

        </ul>
      </li>
      <li class="nav-link"><a href="javascript:void(0)"></a></li>
    </ul>
  </div>
</header>



<div class="hero">
	<div class="hero-inner">
    <!-- <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt="Logo Image"></a> -->
		<div class="hero-copy">
			<h1><strong>Design Works - Nashville</strong></h1>
			<p>High Quality Countertops & Sinks</p>
		</div>
    <button class="button">Learn More</button>
	</div>
</div>
