



<div class="header">
	<div class="header-inner">
			<h1>Tennesse's Award Winning </h1>

			<a href="#">
				<div class="countertops">
					<h1>
						  	Countertops
					</h1>
				</div>
			</a>
			<div class="amps">
					<h1>&</h1>
			</div>
			<a href="http://www.google.com">
				<div class="sinks">
				<h1>
					Sinks
				</h1>
				</div>
			</a>

		</div>
				<div class="information-wrapper">
					<div class="information">
						<a href="tel:888-615-8677"><span class="phone">

								888-615-8677

						</span>	</a>
						<span class="social">
							<img src="../assets/images/fb.png">
						</span>
					</div>
				</div>

	</div>
