

<div class="header">
	<div class="header-inner">
			<h1>Tennessee's Award Winning </h1>

			<a href="/countertops">
				<div class="countertops">
					<h1>
						  	Countertops
					</h1>
				</div>
			</a>
			<div class="amps">
					<h1>&</h1>
			</div>
			<a href="/sinks">
				<div class="sinks">
				<h1>
					Sinks
				</h1>
				</div>
			</a>

			<div class="info">
		 		<p>Karran E-360R sink <br /> Formica Laminate 3450-RD Mineral Jet</p>
			</div>

		</div>
				<div class="information-wrapper">
					<div class="information">
						<a href="tel:888-615-8677">
							<span class="phone">
								888-615-8677
							</span>
						</a>
						<span class="social">
							<a href="https://www.facebook.com/pages/Design-Works-Nashville/590882107707603" target="_blank">
								<img src="../assets/images/fb.png">
							</a>
						</span>
					</div>
				</div>

	</div>
