



<div class="navi">
    <div class="logo">
      <a href="/"><img src="../assets/images/designworkslogo.png"></a>
    </div>
    <nav class="navi-links">
    <ul>
      <a href="/"><li class="navigation-links" >Home</li></a>
      <a href="/countertops/" ><li class="navigation-links">Countertops</li></a>
      <a href="/countertops/solid-surface"><li class="secondary-links">Solid Surface</li></a>
      <a href="/sinks/"><li class="navigation-links">Sinks</li></a>
      <a href="/contact-us/"><li class="navigation-links">Contact</li></a>
      <a href="/clearance"><li class="navigation-links" style="color:#890D11">Sale</li></a>
      <a href="https://cabmfg.moraware.net/" target="_blank"><li class="navigation-links">Job Tracker</li></a>
    </ul>
  </nav>

</div>
