



<div class="navi">
    <div class="logo">
      <a href="/"><img src="../assets/images/dwlogo.png"></a>
    </div>
    <nav class="navi-links">
    <ul>
      <a href="/"><li >Home</li></a>
      <a href="/countertops/" ><li>Countertops</li></a>
      <a href="/sinks/"><li>Sinks</li></a>
      <a href="/contact-us/"><li>Contact</li></a>
      <a href="/clearance"><li>Clearance</li></a>
      <a href="https://cabmfg.moraware.net/" target="_blank"><li>Job Tracker</li></a>
    </ul>
  </nav>

</div>
