


<div class="navi">
    <div class="logo">
      <a href="/"><img src="/assets/images/designworkslogo.png"></a>
    </div>
    <nav class="page-navi-links">
    <ul>
      <a href="/"><li id="main" >Home</li></a>
      <a href="/countertops/" ><li id="main">Countertops</li></a>
      <a href="/countertops/solid-surface" ><li class="secondary">Solid-Surface</li></a>
      <a href="/sinks/"><li id="main">Sinks</li></a>
      <a href="/contact-us/"><li id="main">Contact</li></a>
      <a href="https://cabmfg.moraware.net/" target="_blank"><li>Job Tracker</li></a>
      <!-- <a href="/clearance"><li id="main" style="color:#890D11">Sale</li></a> -->
    </ul>
  </nav>

</div>
