
@import '1-tools/-tools-index';


.container{
  @include outer-container();
}


.bgimg{
  background-image: url("../assets/images/background.jpg") ;
  background-repeat:no-repeat;
  // background-size:contain;
  background-position:center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* NAVIGATION BAR */




.navi{

    margin-bottom: 3.5em;
    padding-top:1.5em;
    @include outer-container(100%);
    max-height: 120px;

    @include media($tablet){
      max-height:200px;
    }


  .logo{
    margin-top:.5em;
    @include span-columns(3);



    @include media($tablet){
      @include span-columns(8);

    }

    img{
      @include pad(default);
      @include row();
      height:90px;
      width:145px;
      margin: auto;
      @include media($tablet){
        height:75px;
        width:120px;
      }
    }
  }
}

.page-navi-links{

  @include span-columns(7);
  @include row();
  @include pad();

  margin-top:1.0em;


    @include media($tablet){
      @include span-columns(8);

      }

      a:hover{
        text-decoration:none;
      }

    ul{
      text-align:right;
      display:block;

      @include media($tablet){
        @include clearfix();
        text-align:center;
        font-size: .8em;
      }
    }




  .active{
    border-bottom:solid;
    border-size: 1.5em;
    border-color: rgba(255,0,0,0.5);
  }

  li{
    font-family: ChunkFive;
    color: #343434;
    font-size:1.3em;
    display:inline;
    padding: .7em;

    &:hover{
      text-decoration: none;
    }

  }

}

  .navi-links{

    @include span-columns(7);
    @include row();
    @include pad();
    margin-top:1.0em;

      @include media($tablet){
        @include span-columns(8);

        }

        a:hover{
          text-decoration:none;
        }

      ul{
        text-align:right;
        display:block;

        @include media($tablet){
          @include clearfix();
          text-align:center;
          font-size: .8em;
        }
      }




    .active{
      border-bottom:solid;
      border-size: 1.5em;
      border-color: rgba(255,0,0,0.5);
    }

    li{
      font-family: ChunkFive;
      color: white;
      font-size:1.3em;
      display:inline;
      padding: .7em;

      &:hover{
        text-decoration: none;
      }

    }

}

/* NAVIGATION BAR END */
/* HEADER BEGIN */
.header{


  min-width:100%;
  height: 750px;
  padding-top:11%;
  position:relative;

  @include media($tablet){
    height:450px;
  }

}

.header-inner{
  text-align:center;



  .countertops{

    height:100px;
    display:inline-block;
    padding: .4em;
    background-color: rgba(89,0,0,0.5);

    @include media($tablet){
      height: 75px;
    }

    &:hover{
      background-color: rgba(255,0,0, 0.7);
    }

  }

  .sinks{
    height:100px;
    display:inline-block;
    padding: .4em;
    background-color: rgba(229,184,0,0.5);

    @include media($tablet){
    height: 75px;
    }

    &:hover{
      background-color: rgba(255,255,0,0.7);
    }
  }

  .amps{

    display:inline-block;
    padding: .2em;
  }
  h1{
    font-weight: normal;
    font-family: Chunkfive;
    font-size: 75px;
    color:white;

    @include media($tablet){
      font-size: 40px;
      // padding-bottom:1.0em;
    }
  }


  .circle {
    border-radius: 50%;
    height:32px;
    width:32px;
    margin: 1.5em auto;
    background: rgba(255,0,0,0.5);

  }

  .info{

    position:absolute;
    bottom:0;
    margin: 50px auto;
    border-radius: .5em;
    height:75px;
    width:350px;

    background: rgba(15,15,15,0.7);
    p{
      color: $grey-color-light;
      font-family: Aller;
      padding: 1.0em;
    }
  }

}

/* HEADER END */


/* INFORMATION BEGIN */


.information-wrapper{

  height:40px;
  min-width: 100%;
  background-color: rgba(89,0,0,0.5);
  position:absolute;
  bottom: 0;
  .information{
    text-align:center;

    a{
      font-family: Helvetica;
      color:white;
      &:visited{
        color:white;
      }

      &:hover{
        text-decoration: pointer;
        color:white;
      }
    }

  @include outer-container();
  .phone{
    padding-top: 0.4em;
    height: 40px;
    background-color:#590000;
    @include shift(2);
    @include span-columns(2);

    @include media($tablet){
      @include shift(1);
      @include span-columns(3);
    }


  }
  .social{
    padding-top: 0.3em;
    height: 40px;
    background-color:#590000;
    @include shift(1);
    @include span-columns(2);

    @include media($tablet){
      @include shift(1);
      @include span-columns(3);
    }
  }
}



}


/* INFORMATION END */
