@import '1-tools/-tools-index';


/* NAVIGATION BAR END */
/* HEADER BEGIN */
.laminate-header{

  // background-image: url("../assets/images/background.jpg") ;
  // background-repeat:no-repeat;
  //  background-size:contain;
  // //  margin-top: 5%;
  // background-position:center;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;


  background: url(../assets/images/laminate-header.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

  min-width:100%;
  height: 850px;
  padding-top:15%;
  position:relative;

  @include media($tablet){
    height:650px;
    padding-top: 60%;
  }

}

.header-inner{
  text-align:center;
  padding-top: 75px;


  .information{

    height:100px;
    display:inline-block;
    padding: .4em;
    background-color: rgba(89,0,0,0.5);

    @include media($tablet){
      height: 75px;
    }

    &:hover{
      background-color: rgba(255,0,0, 0.7);
    }

  }

  .sinks{
    height:100px;
    display:inline-block;
    padding: .4em;
    background-color: rgba(229,184,0,0.5);

    @include media($tablet){
    height: 75px;
    }

    &:hover{
      background-color: rgba(255,255,0,0.7);
    }
  }

  .amps{

    display:inline-block;
    padding: .2em;
  }
  h1{
    font-weight: normal;
    font-family: Chunkfive;
    font-size: 75px;
    color:white;

    @include media($tablet){
      font-size: 40px;
      // padding-bottom:1.0em;
    }
  }


.banner-link{

  text-decoration:none;
}

.banner {

    font-weight: normal;
    font-family: Chunkfive;
    font-size: 75px;
    color:white;

    @include media($tablet){
      font-size: 40px;
      // padding-bottom:1.0em;
    }

}


  .circle {
    border-radius: 50%;
    height:32px;
    width:32px;
    margin: 1.5em auto;
    background: rgba(255,0,0,0.5);

  }

  .info{

    position:absolute;
    bottom:140px;
    margin: 50px auto;
    border-radius: .5em;
    height:75px;
    width:350px;

    @include media($tablet){
      bottom: 50px;
    }

    a{
      img{
      @include media($tablet){
        height: 75px;
        width: 75px;
      }
    }
  }



    // background: rgba(15,15,15,0.7);

  }

}

/* HEADER END */


/* INFORMATION BEGIN */


.information-wrapper{

  height:40px;
  min-width: 100%;
  background-color: rgba(89,0,0,0.5);
  position:absolute;
  bottom: 0;
  .information{
    text-align:center;

    a{
      font-family: Helvetica;
      color:white;
      &:visited{
        color:white;
      }

      &:hover{
        text-decoration: pointer;
        color:white;
      }
    }

  @include outer-container();
  .phone{
    padding-top: 0.4em;
    height: 40px;
    background-color:#590000;
    @include shift(2);
    @include span-columns(2);

    @include media($tablet){
      @include shift(1);
      @include span-columns(3);
    }


  }
  .social{
    padding-top: 0.3em;
    height: 40px;
    background-color:#590000;
    @include shift(1);
    @include span-columns(2);

    @include media($tablet){
      @include shift(1);
      @include span-columns(3);
    }
  }
}



}


/* INFORMATION END */
