@import "1-tools/-tools-index";


iframe{
  @include fill_parent();
  height: 500px;
  @include pad();
}


.contact-info{
@include span-columns(12);


    div{
      text-align:center;
      @include span-columns(6);

      @include media($mobile){
        @include span_columns(4);
      }



      i{
        @include pad();
        color: #990000;

      }
    }



}


.contact-form{
  clear:both;
  @include fill-parent();


  h1{
    padding-top: 94px;
    text-align:center;

  }

}




form{

    @include pad();
}
