@import "1-tools/-tools-index";

.sinks-main-images{
  @include outer-content(60%);
  @include pad();

  a{
    &:hover{
      opacity: 0.7;
    }
  }

  .sinks-fill-width{
    @include span-columns(12);
    height:500px;
    @include pad();

    .sinks-images-info{
      @include span-columns(7 of 10);
      text-align:center;
      height: 450px;

      h1{
        bottom: 0;
        font-family: ChunkFive;
        font-size: 3.5em;
        color:white;
        background-color: rgba(49,0,0,.6);
      }

      p{
        font-family: ChunkFive;
        font-size: 2.5em;
        color:white;
      }
    }
  }


  .double{
  height: 500px;
  @include span-columns(12);

    .half{
      @include span-columns(6 of 12);
      height: 500px;

      .sinks-images-info{
        text-align:center;
        @include pad();
        height: 450px;

        h1{
          background-color: rgba(49,0,0,.6);
          bottom: 0;
          font-family: ChunkFive;
          font-size: 3.5em;
          color:white;
          @include pad();
        }
      }

      @include media($mobile){
          @include span-columns(12);
          overflow: none;
      }
    }
  }
}
